.main-content {
    background: #f7f8fb;
    padding: 20px 30px;
}
.searchbox {
    margin: 10px 0 50px;
}
.searchbox .search-button {
    margin-left: 5px;
    cursor: pointer;
    user-select: none;
}
.employee-group {
    color: #c0ebe1;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    border-bottom: 1px solid #c0ebe1;
    width: 100%;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.employee-group .add-link {
    color: #fff;
    background: #00d29a;
    border-radius: 50%;
    padding: 7px 4px 6px 8px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    position: relative;
    bottom: 5px;
}

.employee-list {
    margin: 20px -5px 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.employee-list .employee-wrapper,
.employee-list .add-more-wrapper {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    flex: 1 0 auto;
    min-width: 380px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
    list-style: none;
}

.employee-list .employee {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    width: 100%;
}

.employee-list .employee header {
    grid-column: 1;
}

.employee-list .employee main {
    grid-column: 2;
}

.employee-list .employee footer {
    grid-column: 3;
}

.employee-list .thumbnail {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 15px 25px 15px 15px;
    object-fit: cover;
}

.employee-list .employee .number {
    font-size: 14px;
    font-weight: normal;
    color: #666666;
    margin-top: 15px;
}

.employee-list .employee .name {
    font-size: 20px;
    font-weight: normal;
    color: #666666;
    letter-spacing: 2px;
    margin-top: 15px;
}

.employee-list .employee .name_kana {
    font-size: 14px;
    font-weight: normal;
    color: #666666;
    letter-spacing: 1px;
    margin-top: 2px;
}

.employee-list .employee .email {
    font-size: 14px;
    font-weight: normal;
    color: #666666;
    margin-top: 13px;
}

.employee-list .employee .edit-button {
    display: block;
    justify-self: flex-end;
    color: #c0ebe1;
    font-size: 14px;
    font-weight: normal;
    padding: 6px 20px;
    text-decoration: none;
    border: 1px solid #c0ebe1;
    cursor: pointer;
}

.employee-list .employee-edit-wrapper {
    position: relative;
    list-style: none;
    display: none;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
}

.employee-list .employee-edit-wrapper .dropzone {
    display: none;
}

.employee-list .employee-edit-wrapper.accept-drop .dropzone {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.employee-list form {
    width: 100%;
}

.employee-list form label {
    color: #333;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 1px;
}

.employee-list form *[name="thumbnail"] {
    display: none;
}

.employee-list form *[name="number"],
.employee-list form *[name="name"],
.employee-list form *[name="name_kana"],
.employee-list form *[name="email"] {
    display: block;
    margin: 0 0 10px;
    border: 2px solid #ffe1d5;
    width: 280px;
    box-sizing: border-box;
}

.employee-list form *[name="email"] {
    margin: 0 0 20px;
}

.employee-list form button {
    width: 130px;
    height: 40px;
}

.employee-list form button[type="reset"] {
    margin-right: 20px;
}