{% extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'employee/employee.css' %}">
{% endblock %}

{% block bodyend %}
<script src="{% static 'employee/employee.js' %}"></script>
{% endblock %}

{% block title %}
従業員一覧 - grabar
{% endblock %}

{% block pagetitle %}
従業員一覧
{% endblock %}

{% block maincontent %}
  <div class="searchbox">
    <form id="search-form" method="GET" action="{% url 'grabar_employee:list' %}">
      <input class="m-inputbox" type="text" name="q" placeholder="名前で検索" value="{{ q }}">
      <button type="submit" class="m-round-button dark-blue-button search-button">検索</button>
    </form>
  </div>
  {% for dept in departments %}
    <div class="employee-group">
      <h2>{{ dept }}</h2>
      <a class="add-link">+</a>
    </div>
    <ul class="employee-list">
      {% for employee in employee_list %}
        {% if employee.department == dept %}
          <li class="employee-wrapper">
            <!-- 表示用領域 -->
            <article class="employee">
              <header>
                {% if employee.thumbnail %}
                  <img class="thumbnail" data-initial="{{ employee.thumbnail.url }}" src="{{ employee.thumbnail.url }}" alt="{{ employee.name }}">
                {% else %}
                  <img class="thumbnail" data-initial="http://placehold.jp/100x100.png?text=sample" src="http://placehold.jp/100x100.png?text=sample" alt="default image">
                {% endif %}
              </header>
              <main>
                <p class="number">ID {{ employee.number }}</p>
                <p class="name">{{ employee.name }}</p>
                <p class="name_kana">{{ employee.name_kana }}</p>
                <p class="email">{{ employee.email }}</p>
              </main>
              <footer>
                <a class="edit-button">編集</a>
              </footer>
            </article>

            <!-- 編集用領域 -->
            <div class="employee-edit-wrapper">
              <div class="dropzone"></div>
              <div class="thumnail-wrapper">
                {% if employee.thumbnail %}
                  <img class="thumbnail" data-initial="{{ employee.thumbnail.url }}" src="{{ employee.thumbnail.url }}" alt="{{ employee.name }}">
                {% else %}
                  <img class="thumbnail" data-initial="http://placehold.jp/100x100.png?text=sample" src="http://placehold.jp/100x100.png?text=sample" alt="default image">
                {% endif %}
              </div>
              <form class="employee-edit" onsubmit="post_employee_data(this, arguments[0], '{% url 'grabar_employee:update' id=employee.id %}')">
                {% csrf_token %}
                <input type="hidden"                    name="department"         value="{{ dept }}">
                <input type="file"                      name="thumbnail">

                <label for="">ID</label>             <input type="text"   class="m-inputbox" name="number"    value="{{ employee.number }}"    required maxlength="3">
                <label for="">名前</label>           <input type="text"   class="m-inputbox" name="name"      value="{{ employee.name }}"      required>
                <label for="">ふりがな</label>       <input type="text"   class="m-inputbox" name="name_kana" value="{{ employee.name_kana }}">
                <label for="">メールアドレス</label> <input type="email"  class="m-inputbox" name="email"     value="{{ employee.email }}"     required>
                <button type="reset"  class="m-round-button orange-button">キャンセル</button><!-- 不要な空白を画面に表示させない！
             --><button type="submit" class="m-round-button green-button submit-button">保存</button>
              </form>
            </div>
          </li>
        {% endif %}
      {% endfor %}
      <li class="add-more-wrapper employee-edit-wrapper">
        <div class="dropzone"></div>
        <div class="thumnail-wrapper">
          <img class="thumbnail" data-initial="http://placehold.jp/100x100.png?text=sample" src="http://placehold.jp/100x100.png?text=sample">
        </div>
        <form class="add-more" onsubmit="post_employee_data(this, arguments[0], '{% url 'grabar_employee:create' %}')">
          {% csrf_token %}
          <input type="hidden" class="m-inputbox" name="department"         value="{{ dept }}">
          <input type="file"                      name="thumbnail">

          <label for="">ID</label>             <input type="text"   class="m-inputbox" name="number"    required maxlength="3">
          <label for="">名前</label>           <input type="text"   class="m-inputbox" name="name"      required>
          <label for="">ふりがな</label>       <input type="text"   class="m-inputbox" name="name_kana">
          <label for="">メールアドレス</label> <input type="email"  class="m-inputbox" name="email"     required>
          <button type="reset"  class="m-round-button orange-button">キャンセル</button><!-- 不要な空白を画面に表示させない！
       --><button type="submit" class="m-round-button green-button submit-button">保存</button>
        </form>
      </li>
    </ul>
  {% endfor %}
  <script>
  (function() {
    for (let group of document.querySelectorAll('.employee-group')) {
      const btn = group.querySelector('.add-link')
      btn.addEventListener('click', () => {
        // いい感じの見た目にしたいところ
        const tgt = group.nextElementSibling.lastElementChild;
        if (tgt.style.display === 'grid') {
          tgt.style.display = 'none';
          btn.textContent = '+';
        } else {
          tgt.style.display = 'grid';
          btn.textContent = '-';
        }
      });
    }
    for (let wrapper of document.querySelectorAll('.employee-wrapper')) {
      const employee = wrapper.querySelector('.employee');
      const editor = wrapper.querySelector('.employee-edit-wrapper');
      employee.querySelector('.edit-button').addEventListener('click', () => {
        employee.style.display = 'none';
        editor.style.display = 'grid';
      });
      editor.querySelector('*[type="reset"]').addEventListener('click', () => {
        employee.style.display = 'grid';
      });
    }
    for (let wrapper of document.querySelectorAll('.employee-edit-wrapper')) {
      const thumbnail_element = wrapper.querySelector('.thumbnail');
      wrapper.querySelector('button[type="reset"]').addEventListener('click', function() {
        wrapper.style.display = 'none';
        thumbnail_element.src = thumbnail_element.dataset.initial;
      });

      wrapper.addEventListener('dragenter', function() {
        add_class(wrapper, 'accept-drop');
      });

      // set event listener on dropzone
      const dropzone = wrapper.querySelector('.dropzone');
      const file_input = wrapper.querySelector('input[name="thumbnail"]');
      dropzone.addEventListener('dragleave', () => {
        remove_class(wrapper, 'accept-drop');
      });
      dropzone.addEventListener('dragover', (evt) => {
        evt.stopPropagation();
        evt.preventDefault();
        evt.dataTransfer.dropEffect = 'copy';
        return false;
      });
      dropzone.addEventListener('drop', (evt) => {
        evt.stopPropagation();
        evt.preventDefault();
        remove_class(wrapper, 'accept-drop');
        const f = evt.dataTransfer.files[0]
        if (f == null || !f.type.match('image.*')) {
          thumbnail_element.src = thumbnail_element.dataset.initial;
          file_input.value = null;
        } else {
          show_image(thumbnail_element, f);
          file_input.files = evt.dataTransfer.files;
        }
      });
    }
  })();
  </script>
{% endblock %}
