{% extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'employee/employee.css' %}">
{% endblock %}

{% block bodyend %}
<script src="{% static 'employee/employee.js' %}"></script>
{% endblock %}

{% block maincontent %}
  <div class="searchbox">
    <form id="search-form" method="GET" action="{% url 'grabar_employee:list' %}">
      <input class="m-inputbox" type="text" name="q" placeholder="名前で検索" value="{{ q }}">
      <button type="submit" class="m-round-button dark-blue-button search-button">検索</button>
    </form>
  </div>
  {% for dept in departments %}
    <div class="employee-group"><h2>{{ dept }}</h2><a class="add-link" onclick="(function(self) {
      const list_items = self.parentNode.nextElementSibling.children;
      form_wrapper = list_items[list_items.length - 1];
      form_wrapper.style.display = 'grid';
    })(this)">+</a></div>
    <ul class="employee-list">
      {% for employee in employee_list %}
        {% if employee.department == dept %}
          <li class="employee-wrapper">
            <article class="employee">
              <header>
                {% if employee.thumbnail %}
                  <img class="thumbnail" src="{{ employee.thumbnail.url }}" alt="{{ employee.name }}">
                {% else %}
                  <img class="thumbnail null" src="http://placehold.jp/100x100.png?text=sample" alt="default image">
                {% endif %}
              </header>
              <main>
                <p class="number">ID {{ employee.number }}</p>
                <p class="name">{{ employee.name }}</p>
                <p class="name_kana">{{ employee.name_kana }}</p>
                <p class="email">{{ employee.email }}</p>
              </main>
              <footer>
                <a class="edit-button" href="#">編集</a>
              </footer>
            </article>
          </li>
        {% endif %}
      {% endfor %}
      <li class="add-more-wrapper" ondragenter="add_class(this, 'accept-drop')">
        <div class="dropzone" ondragleave="remove_class(this.parentNode, 'accept-drop')"></div>
        <div class="thumnail-wrapper">
          <img class="thumbnail null" src="http://placehold.jp/100x100.png?text=sample">
        </div>
        <form class="add-more" onsubmit="(function (frm, evt) {
          evt.stopPropagation();
          evt.preventDefault();
          const submit_btn = frm.querySelector('.submit-button');
          submit_btn.textContent = '保存中';
          submit_btn.disabled = true;
          fetch('{% url 'grabar_employee:create' %}', {
            method: 'POST',
            body: new FormData(frm),
          })
          .then(res => {
            if (res.ok) location.reload();
          })
          .finally(() => {
            submit_btn.textContent = '保存';
            submit_btn.disabled = false;
          });
        })(this, arguments[0])">
          {% csrf_token %}
          <input type="hidden" class="m-inputbox" name="department"         value="{{ dept }}">
          <input type="file"                      name="thumbnail" onchange="(function(self) {
              const f = self.files[0];
              const e = self.parentNode.previousElementSibling.children[0];
              if (f == null || !f.type.match('image.*')) {
                e.src = 'http://placehold.jp/100x100.png?text=sample';
                self.value = null;
              } else {
                show_image(e, f);
              }
          })(this)">

          <label for="">ID</label>             <input type="text"   class="m-inputbox" name="number"    required maxlength="3">
          <label for="">名前</label>           <input type="text"   class="m-inputbox" name="name"      required>
          <label for="">ふりがな</label>       <input type="text"   class="m-inputbox" name="name_kana">
          <label for="">メールアドレス</label> <input type="email"  class="m-inputbox" name="email"     required>
          <button type="reset"  class="m-round-button orange-button" onclick="(function(self) { self.parentNode.parentNode.style.display='none'; })(this)">キャンセル</button><!-- 不要な空白を画面に表示させない！
       --><button type="submit" class="m-round-button green-button submit-button">保存</button>
        </form>
      </li>
    </ul>
  {% endfor %}
  <script>
  (function() {
    for (let wrapper of document.querySelectorAll('.add-more-wrapper')) {
      // set event listener on dropzone
      const dropzone = document.querySelector('.dropzone');
      const file_input = wrapper.querySelector('input[name="thumbnail"]');
      const thumbnail_element = wrapper.querySelector('.thumbnail');
      dropzone.addEventListener('dragover', (evt) => {
        evt.stopPropagation();
        evt.preventDefault();
        evt.dataTransfer.dropEffect = 'copy';
        return false;
      });
      dropzone.addEventListener('drop', (evt) => {
        evt.stopPropagation();
        evt.preventDefault();
        remove_class(wrapper, 'accept-drop');
        const f = evt.dataTransfer.files[0]
        if (f == null || !f.type.match('image.*')) {
          thumbnail_element.src = 'http://placehold.jp/100x100.png?text=sample';
          file_input.value = null;
        } else {
          show_image(thumbnail_element, f);
          file_input.files = evt.dataTransfer.files;
        }
      });
    }
  })();
  </script>
{% endblock %}
